[submodule "frontend"]
	path = frontend
	url = https://github.com/iammoussaab/MIndfull2.git
[submodule "backend"]
	path = backend
	url = https://github.com/iammoussaab/MIndfull2.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/iammoussaab/MIndfull2.git
